#loading .shadow {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:#000;
    opacity:.50;
    filter:alpha(opacity=50);
    -moz-opacity:0.50;
    z-index:999;
}
#loading img {
    left: 50%;
    margin: -11px 0 0 -43px;
    position: fixed;
    top: 50%;
    z-index: 9999;
}
#loading_list .shadow {
    position: fixed;
    left: 0;
    height: 39px;
    bottom: 0px;
    width: 100%;
    background: #000;
    opacity: .50;
    filter: alpha(opacity=50);
    -moz-opacity: 0.50;
    z-index: 999;
}
#loading_list img {
    left: 50%;
    margin: -11px 0 0 -43px;
    position: fixed;
    bottom: 13px;
    z-index: 9999;
}