.jcarousel-skin-tango .jcarousel-container {

}

.jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 20px 50px;
    width: 500px;
}
.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 607px;
    width: 500px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    height: 610px;
    text-align: center;
    width: 455px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
*/
.jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url("../../../img/flechas/right-slider.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 39px;
    position: absolute;
    right: 15px;
    top: 58px;
    width: 70px;
}



.jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url("../../../img/flechas/left-slider.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 39px;
    left: 0;
    position: absolute;
    top: 58px;
    width: 70px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url("../../../img/flechas/next-horizontal.png");
}



/**
 *  Vertical Buttons
*/
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url("../../../img/flechas/next-vertical.png") no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url("../../../img/flechas/prev-vertical.png") no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
/*diseno web 1*/
#disenoWeb1{
    background: none repeat scroll 0 0 #F2F2F2;
    box-shadow: 0 0 5px #CBCBCB inset;
    padding: 0 40px;
    width: 869px;
}
#disenoWeb1 ul li{
    height: auto;
    padding: 18px 0;
    width: 290px;
}

#disenoWeb1 .jcarousel-clip-horizontal{
    height: auto;
    overflow: hidden;
    width: 872px;	
}
.center_box #disenoWeb1 .video-slide{
    box-shadow: 0 0 15px 5px #CCCCCC;
    height: 234px;
    width: 270px;
    background-color: black;
}

.center_box #disenoWeb1 .video-slide img{
    height: 234px;
    width: 270px;
}

.center_box #disenoWeb1 .text{
    float: left;
    font-family: "myriad pro";
    margin: 25px 0 0 30px;
    width: 226px;
}
#disenoWeb1 .jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url("../../../img/flechas/right-slider.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 39px;
    position: absolute;
    right: -16px;
    top: 58px;
    width: 70px;
}
#disenoWeb1 .jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url("../../../img/flechas/left-slider.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 39px;
    left: 0;
    position: absolute;
    top: 58px;
    width: 70px;
}
.center_box .text div.box-sub {
    color: #6A6C66;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.center_box .text div.box-text{
    color: #383333;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    margin: 17px 0;
    text-align: left;
}
.center_box #disenoWeb1 .right{

}
/*diseno web */


#disenoWeb{
    background: none repeat scroll 0 0 #F2F2F2;
    box-shadow: 0 0 5px #CBCBCB inset;
    padding: 0 40px;
    width: 869px;
}
#disenoWeb ul li{
    height: auto;
    padding: 18px 0;
    width: 290px;
}

#disenoWeb .jcarousel-clip-horizontal{
    height: auto;
    overflow: hidden;
    width: 872px;	
}
.center_box #disenoWeb .image-slide{
    box-shadow: 0 0 15px 5px #CCCCCC;
    height: 194px;
    width: 264px;
}

.center_box #disenoWeb .image-slide img{
    height: 194px;
    width: 258px;
}

.center_box #disenoWeb .text{
    float: left;
    font-family: "myriad pro";
    margin: 25px 0 0 30px;
    width: 226px;
}

.center_box .text div.box-sub {
    color: #6A6C66;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.center_box #disenoWeb .right{

}

.center_box #disenoWeb .image-slide{
    margin : 11px;
}
